node_modules
.next
out
.env*.local
admin/
admin/.env*.local
admin/node_modules
admin/.next
admin/out
admin/.env.local
admin/.env.development.local
admin/.env.test.local
admin/.env.production.local 
backend-mhb/
Design.md
.env.local.example